<MudNavMenu>
    <div class="p-3">
        <MudText Align="Align.Center" Typo="Typo.h6" GutterBottom="true" gu>Visit us</MudText>
        <MudNavLink Href="https://www.facebook.com" Target="_blank" Icon="@Icons.Custom.Brands.Facebook" IconColor="Color.Primary">Facebook</MudNavLink>
        <MudNavLink Href="https://www.twitter.com" Target="_blank" Icon="@Icons.Custom.Brands.Twitter" IconColor="Color.Primary">Twitter</MudNavLink>
        <MudNavLink Href="https://www.instagram.com" Target="_blank" Icon="@Icons.Custom.Brands.Instagram" IconColor="Color.Primary">Instagram</MudNavLink>
        <MudNavLink Href="https://www.youtube.com" Target="_blank" Icon="@Icons.Custom.Brands.YouTube" IconColor="Color.Primary">YouTube</MudNavLink>
        <MudNavLink Href="https://www.linkedin.com" Target="_blank" Icon="@Icons.Custom.Brands.LinkedIn" IconColor="Color.Primary">LinkedIn</MudNavLink>
    </div>
</MudNavMenu>